
@media (min-width: 320px) {

  header{
    width: 100%;
    background-color: black;
  }

  .header_nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 21px;
    font-family: sans-serif;

    a{
      color: white;
    }
  }
  
}