
@media (min-width: 320px) {

  header{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }

  .header_nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
}